<%= form_for(patient) do |f| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group" >
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "form-control"%>
  </div>

  <div class="field form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: "form-control" %>
  </div>

  <div class="field form-group radio">
    <%= f.label :gender %><br />
    <%= f.label :gender, "Male", :value => "male"  %>
    <%= f.radio_button :gender, "male" %>
    <%= f.label :gender, "Female", :value => "female" %>
    <%= f.radio_button :gender, "female" %>  
  </div>

  <div class="field form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :contact_no %>
    <%= f.number_field :contact_no, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :dob %>
    <%= f.text_field :dob, class: "form-control", id: "datepicker-11"%>
  </div>

  <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>

  <div class="actions">
    <%= f.submit id:"register"%>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {  
    $( "#datepicker-11" ).datepicker({ 
      changeMonth: true, 
      changeYear:  true,
      showWeek:    true, 
      minDate:     "-100Y",
      maxDate:     "+1Y", 
      showOtherMonths:true,  
      showAnim:    "explode" ,
      dateFormat:  "dd/mm/yy"
    }).next('button').text('Show calendar').button({ icons: { primary: 'ui-icon-calendar' }, text: false });
  });  
  
  (function() {
    $('form > input').keyup(function() {
      var empty = false;
      $('form > input').each(function() {
        if ($(this).val() == '') {
          empty = true;
        }
      });
      if (empty) {
        $('#register').attr('disabled', 'disabled');
      } else {
        $('#register').removeAttr('disabled');
      }
    });
});
</script>
