
<h3>Patients</h3>

<table class= "table table-bordered table-responsive">
  <thead>
    <tr>
      <th>profile picture</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>City</th>
      <th>State</th>
      <th>Contact no</th>
      <th>Age</th>
      <th>Dob</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= image_tag patient.profile_picture, :size => "80x80"  %></td>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.city %></td>
        <td><%= patient.state %></td>
        <td><%= patient.contact_no %></td>
        <td><%= patient.age %></td>
        <td><%= patient.dob %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add disease',{controller: "disease_infos",action: "new", id: patient} %></td>
        <td><%= link_to 'Your Disease Information',{controller: "disease_infos",action: "index", id: patient}%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Patient', new_patient_path %>
